<div class="cart-body">
  <div class="sort-options">
    <span class="sort-label">
      Sort by:
    </span>
    <span class="sort-option"
      [class.sort-option-active]="sortProperty==='name'"
      (click)="onChangeSorting('name')">
        Name
    </span>
    <span class="sort-option"
      [class.sort-option-active]="sortProperty==='price'"
      (click)="onChangeSorting('price')">
        Price
    </span>
    <span class="sort-option"
      [class.sort-option-active]="sortProperty==='count'"
      (click)="onChangeSorting('count')">
      Count
    </span>
  </div>
  <div *ngIf="cartItems.length; else emptyCart">
    <div *ngFor="let item of cartItems | orderby : sortProperty: sortAsc;">
      <app-cart-item
        [cartItem]="item"
        (removeItem)="onRemoveItem($event)"
        (addItem)="onAddItem($event)">
      </app-cart-item>
    </div>

    <div class="total-price">
      Total price: {{ totalPrice | currency }}
    </div>
    <div class="cart-buttons">
      <div>
        <button class="button pay-button" (click)="onBuy()">Pay</button>
      </div>
      <div>
        <button class="button clear-button" (click)="onClear()">Clear</button>
      </div>
    </div>
  </div>
  <ng-template #emptyCart>
    <div class="epmty-cart">
      Cart is empty
    </div>
  </ng-template>
</div>
