.cart-body {
  background: #f7f7f7;
  padding: 6px 8px 50px 8px;
  margin: 8px;
  border-radius: 6px;
  width: 100%;
}

.epmty-cart {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.total-price {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.cart-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;

  .pay-button {
    background: #46a7bd;
  }
  
  .clear-button {
    background: orange;
  }
}
