:host.active-item {
  .cart-item {
    border: 1px solid gray;
    border-radius: 6px;
    padding: 2px;

    .item-remove {
      display: inline;
    }

    .item-price {
      font-weight: bold;
    }
  }
}

.cart-item {
  font-size: 20px;
  font-style: italic;
}

.item-name {
  font-weight: bold;
}

.add-remove-buttons {
  margin-left: 6px;

  .add-remove-button {
    background: #46a7bd;
    color: white;
    outline: none;
    border-radius: 4px;
    font-weight: normal;
    border: 1px solid transparent;
    width: 24px;
  }

  .add-button {
    background: #1e9a0f;
  }

  .remove-button {
    background: #e42b2b;
  }
}
