.games-shop {
  display: flex;
}

.title {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}

.cart {
  flex-basis: 400px;
  position: relative;

  .cart-content {
    position: fixed;
    width: 370px;
  }
}

.products {
  flex: 1;
}